html, body {
  height: 100%;
  margin: 0;
}

#ide, body .CodeMirror {
  height: 100%;
}

#ide {
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  flex-direction: row;
  height: 90%;
  min-height: 25%;
}

#editor {
  min-width: 25%;
  width: 70%;
}

#repl {
  flex: 1 1 0%;
  max-width: 30%;
}

#test-output {
  flex: 1 1 0%;
  max-height: 10%;
}

.resizer[data-direction='horizontal'] {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 5px;
}
.resizer[data-direction='vertical'] {
  background-color: #cbd5e0;
  cursor: ns-resize;
  height: 5px;
  width: 100%;
}

.CodeMirror-hscrollbar {
  scrollbar-width: none;
}

.CodeMirror-vscrollbar {
  scrollbar-width: none;
}
