html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.top {
  display: flex;
  flex-direction: row;
  height: 80%;
  min-height: 25%;
}

.main {
  min-width: 25%;
  height: 100%;
  width: 70%;
}

.tab {
  height: 100%;
}

.repl {
  flex: 1 1 0%;
  max-width: 30%;
}

.test-output {
  flex: 1 1 0%;
  max-height: 20%;
}

.resizer[data-direction='horizontal'] {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 5px;
}
.resizer[data-direction='vertical'] {
  background-color: #cbd5e0;
  cursor: ns-resize;
  height: 5px;
  width: 100%;
}

/* CodeMirror */

body .CodeMirror {
  height: 100%;
}

.CodeMirror-hscrollbar {
  scrollbar-width: none;
}

.CodeMirror-vscrollbar {
  scrollbar-width: none;
}

.cm-s-racket .CodeMirror-selected  {
  background-color: #0078D7 !important;
}

.cm-s-racket span span.CodeMirror-selectedtext  {
  color: white !important;
}

.cm-s-racket {
  color: #2626B3;
}

.cm-s-racket span.cm-boolean {
  color: #FF9000;
}

.cm-s-racket span.cm-bracket {
  color: #0096FF;
}

.cm-s-racket span.cm-character, .cm-s-racket span.cm-string {
  color: #00AA00;
}

.cm-s-racket span.cm-comment {
  color: #E4B41F;
}

.cm-s-racket span.cm-error {
  color: #FF0000;
}

.cm-s-racket span.cm-keyword, .cm-placeholder {
  color: #708;
}

.cm-s-racket span.cm-number {
  color: #E548FF;
}

.cm-highlight-error {
  background: #FFC0CB;
}

.cm-highlight-unused {
  background: black;
  color: #FF7F00 !important;
}

.cm-highlight-error-message {
  color: #FF0000 !important;
}

/* Material Design */

:root {
  --mdc-theme-primary: #FEDBD0;
  --mdc-theme-secondary: #FEEAE6;
}

.mdc-top-app-bar {
  color: #442C2E;
}

.mdc-icon-button {
  color: #442C2E !important;
}

.mdc-top-app-bar__row {
  height: 35px;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 35px;
}
