html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.top {
  display: flex;
  flex-direction: row;
  height: 90%;
  min-height: 25%;
}

.editor {
  min-width: 25%;
  width: 70%;
}

.repl {
  flex: 1 1 0%;
  max-width: 30%;
}

.test-output {
  flex: 1 1 0%;
  max-height: 10%;
}

.resizer[data-direction='horizontal'] {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 5px;
}
.resizer[data-direction='vertical'] {
  background-color: #cbd5e0;
  cursor: ns-resize;
  height: 5px;
  width: 100%;
}

body .CodeMirror {
  height: 100%;
}

.CodeMirror-hscrollbar {
  scrollbar-width: none;
}

.CodeMirror-vscrollbar {
  scrollbar-width: none;
}

.mdc-top-app-bar__row {
  height: 35px;
}

.mdc-top-app-bar--fixed-adjust {
  padding-top: 35px;
}
